[submodule "Wasm-samples"]
	path = Wasm-samples
	url = https://github.com/HNYuuu/Wasm-samples.git
[submodule "DSL"]
	path = DSL
	url = https://github.com/HNYuuu/DSL.git
[submodule "nufsolver"]
	path = nufsolver
	url = https://github.com/AlfredThiel/NUFSolver
